<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <h4>Nombre</h4>
        <input v-model="nombre" type="text">
        <h4>Apellido</h4>
        <input v-model="apellido" type="text">
        <h1 v-if="ncompleto.length>3">{{ncompleto}}</h1>

    </main>

<script src="../vue.js"></script>    
<script>
    new Vue({
        el: "main",
        data: {
            nombre: "",
            apellido: ""
        },
        computed: {
            ncompleto(){
                return this.nombre+" "+this.apellido;
            }
        }
    });
</script>
</body>
</html>